@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@600&family=Lato&display=swap');

:root {
    /* --tipografia_titulos_bold:'Archivo Black'; font-size: 12px;color: #0077F0; */
    /* --tipografia_titulos_sencillos:'Archivo'; font-size: 12px;color: #f00000; */
    --color_azul_principal: #0077F0;
    --color_botones: #1C65AA;
    --color_botones_2: #46B0EF;
    --color_fondo_formulario: #E1FDFE;
    --color_textos:#6E6E6E;
    --color_textos_2:#33C0E5;
    --color_texto_body: #ffffff; 
}
.body-contactos{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 150px;
    padding: 30px 90px 0;
    
}
.formulario{
    background: var(--color_botones_2)
    /* padding: 15px; */

}

form {
    padding: 15px;
}
.formulario input{
    background: var(--color_fondo_formulario);
    border: none;
    width: 99%;
}
.formulario h5{
    color: #fff;
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
}

.container1 h1, .container2 h1{
    font-family: 'Archivo', sans-serif;
    color: var(--color_azul_principal);
}
.container2{
    margin-left: 20px;
}
.container2 p{
    color: var(--color_textos);
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
}

.ultimo-input{
    height: 160px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.btn-enviar{
    background-color: var(--color_botones);
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--color_botones);
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 100%; 
    margin-top: 15px;
}

.btn-enviar:hover{
    background-color: var(--color_azul_principal);
    font-weight: bold;
}

.img-contactos{
    width: 375px;
}
.seccion-mapa{
    margin-top:60px;
}