@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@600&family=Lato&display=swap');

:root {
    /* --tipografia_titulos_bold:'Archivo Black'; font-size: 12px;color: #0077F0; */
    /* --tipografia_titulos_sencillos:'Archivo'; font-size: 12px;color: #f00000; */
    --color_azul_principal: #0077F0;
    --color_botones: #1C65AA;
    --color_botones_2: #46B0EF;
    --color_fondo_formulario: #E1FDFE;
    --color_textos:#6E6E6E;
    --color_textos_2:#33C0E5;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.servicios{
    margin: 50px;
    padding: 30px;
    background: #ffff;
    font-size: 14px;
    display: grid;
    grid-template-columns:20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-gap: 50px 30px;
    justify-content: center;
}

.como_acceder, .asesor_oficina_linea, .Medicamentos, .citas_medicas, .plan_premium, .solicitud_autorizaciones, 	.consulta_resultados, .laboratorios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
    border-radius: 16px;
    padding: 10px;
    border-color: var(--color_textos);
}

.servicios span{
    font-family: 'Archivo', sans-serif;
    margin: 10px;
    font-size: 16px;
}

.servicios p{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: var(--color_textos);
}

.servicios button{
        background-color: var(--color_botones);
        border: 1px solid;
        border-radius: 8px;
        border-color: var(--color_botones);
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        width: 50%; 
        margin-top: 10px;
}

button:hover{
    background-color: var(--color_azul_principal);
    font-weight: bold;
}
.servicios img{
    width: 60px;
}

.banner-servicios{
    padding: 190px 875px 0 150px;
    color: var(--color_texto_body);
    background-image: url(foto_servicios.png);
    font-family:'Archivo', sans-serif;
    text-align: left;
}
.banner-servicios p, h3{
    text-align: left;
    margin: 10px 0;
}
.banner-servicios h3{
    font-size: 2rem;
}
.banner-boton{
    background-color: var(--color_botones);
    border: none;
    color: var(--color_texto_body);
    padding: 10px 20px;
    border-radius: 8px;
}


 /* RESPONSIVE - NAV- -----------------------------------------------------------  */
 
@media(max-width: 992px){

    .fondo_nav_banner{
        height: auto;
        background-image: url(foto_nav_secciones.png);
        background-size: cover;
    }  

    .logo_nav {
        height: 25px !important;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 0px 0px 5px;
    }
    
    .menu_items {
        display: flex;
        flex-direction: column;
        background-color: #ffffff2e;
        align-items: flex-start;
        margin-top: 9px;
    }

    .menu a {
        font-size: 15px;
        padding: 11px 14px;
    }
    
    .nombre_seccion {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding: 0px 5px;
    }
    
    .nombre_seccion h2 {
        font-family: 'Archivo Black', sans-serif;
        color: #ffffff;
        font-size: 36px;
        font-weight: 100;
        text-align: center;
        letter-spacing: 1px;
        margin: 12px 0px 0px 0px;
    }
    .comentario_titulos_blanco {
        font-family: 'Lato', sans-serif;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        padding-block: 16px;
    }

 /* RESPONSIVE - FOOTER- ------------------------------------------------------  */

    .footer_logo_datos {
        height: auto;
        flex-direction: column;
        font-size: 12px;
        }  

    .footer_logo_datos  div {
        margin: 15px 0px 1px 1px;
        }  
    
    .logo_footer {
        width: auto;
        height: auto !important;
        align-content: center;
    }

    .logo_footer, .logos_redes_tam {
        height: 20px !important;
    }

    .iconos_footer {
        width: 16px;
    }
    
    .boton_tel {
        padding: 0px 12px;
        height: auto;
        font-size: 18px;
        margin: 15px 0px 1px 1px;
    }
    
    .direccion, .horario {
        margin-left: -50px !important;
    }

    .footer_redes {
        height: auto;
        display: flex;
        flex-direction: column;
        font-family:'sans-serif'; color: var(--color_textos); font-size: 10px;
    }

    .footer_redes div {
        margin: 5px 1px;
        }

    .logo_diseno {
        display: none;
    }

}